body {
    font-size: 1rem;
    max-width: 40rem;
    /* background: linear-gradient(to right, #d7f9defa, #c0d4f6);*/
    background: #D6EAF8;
    transition: background-color .5s;
}

.nav_btn {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: #a8b12e;
}

.price {
    color: darkslategrey;
    font-style: italic;
}

.form-inline {
    padding: 3px 1px 1px 1px;
    border-bottom: 1px solid lightgoldenrodyellow;
}

.container {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
}

.pagination li {
    margin-left: 5px;
    font-size: 1.1rem;
}

select.input-text {
    height: 1.8rem;
}

.input-text {
    line-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    font-weight: 400;
    color: #495057;
    white-space: nowrap;
}

.no-border-lr {
    border-top: 1px inset rgb(133, 133, 133);
    border-bottom: 1px inset rgb(133, 133, 133);
    border-left: none;
    border-right: none;
}

.no-border-r {
    border-top: 1px inset rgb(133, 133, 133);
    border-bottom: 1px inset rgb(133, 133, 133);
    border-left: 1px inset rgb(133, 133, 133);
    border-right: none;
}

.no-border-l {
    border-top: 1px inset rgb(133, 133, 133);
    border-bottom: 1px inset rgb(133, 133, 133);
    border-left: none;
    border-right: 1px inset rgb(133, 133, 133);
}

.div-big {
    height: 500px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ul-big {
    width: 300px;
    height: 60%;
    text-align: center;
    vertical-align: middle;
}

.li-big {
    font-size: 1.5rem;
    color: white;
    height: 50%;
}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none;
    margin-left: 3px;
}

/**
控制主内容显示
 */
.main-content {
    display: block;
    word-break: break-word;
    font-size: 1.2rem;
    color: darkslategrey;
    padding: 7px 0px;
    font-family: "Microsoft YaHe";
}


/**
控制单条目
 */
.signal-item {

}

.btn {
    padding: 3px 8px 3px 6px;
    font-size: 1rem;
}

.foot-item {
    float: right;
    margin-left: 3px;
    font-size: 0.8rem;
    font-style: italic;
}

.form-control {
    width: 36%;
    margin: 0 2px 0 0;
    line-height: 1.2rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 0;
    font-size: 0.9rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar {
    padding: 3px 3px;
}

.split-sign {
    margin: 0 3px;
    color: transparent;
}


.login {
    position: fixed;
    bottom: 42%;
    left: 6%;
    width: 88%;
    height: 30%;
    z-index: 1000;
    text-align: center;
}

.gotop {
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 100;
    background: #178fe5;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    font-size: .5rem;
    text-decoration: none;
    opacity: 0.7;
}

.gotop a {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    height: 0.9rem;
    margin: 0px;
}

.gotop .split {
    width: 142%;
    border-top: 1px solid #d6eadf;
    margin: 0.3rem 0rem 0.3rem -21%;
}

.gotop:hover, .gotop:active {
    background: rgba(167, 5, 65, 0.56) !important;
    color: #fff;
    text-decoration: none
}

.current {
    font-weight: bold;
    background: #6faed9;
    color: white !important;
}

.search-btn {
    background-image: url(../svg/magnifying-glass.svg);
    background-position: 0.5rem;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 2.5rem;
    float: right;
}

.download-btn {
    background-image: url(../svg/cloud-download.svg);
    background-position: 0.5rem;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 2.5rem;
    float: right;
}

.trash-btn {
    background-image: url(../svg/trash.svg);
    background-position: 0.3rem;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 2rem;
    float: right;
}

#tableTree {
    width: 98%;
}

#tableTree tr td:last-child {
    text-align: right;
    margin-right: 150px;
}

.table {
    border: none !important;
}

.table-sm thead tr {
    background: rgb(132 187 221);
}

.table-sm tbody tr {
    height: 2.5rem;
}

.table-sm tbody tr:nth-child(even) {
    background: #AED6F1 !important;
}

.table-sm tbody tr:nth-child(odd) {
    background: #D4E6F1 !important;
}

td {
    height: 2.5rem;
    padding: 0.5rem 0.3rem !important;
    margin: 0.5rem 0.3rem;
    font-size: 0.9rem;
    vertical-align: middle !important;
    border: none !important;
}

.table-sm tbody {
    border: 1px solid white;
}

.table-sm tfoot tr {
    background: rgb(132 187 221);
}

.bottom_layer {
    position: fixed;
    z-index: 302;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    margin: 0;
    padding-top: 1px;
    overflow: hidden;
    zoom: 1;
    background: rgb(59, 60, 61);
    color: white;
    text-align: center;
}

.bottom_layer a {
    display: inline-block !important;
    text-decoration: none !important;
    height: 20px !important;
    line-height: 20px !important;
}

.bottom_layer p {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 5px;
    color: whitesmoke;
}


.foot {
    position: fixed;
    width: 43%;
    text-align: left;
    bottom: 10%;
    right: 1%;
    z-index: 10;
    color: snow;
    padding: .5rem;
    border-radius: .5rem;
    font-size: .9rem;
    font-family: fangsong;
    text-decoration: none;
    opacity: 0.7;
}

.logo-text {
    position: fixed;
    top: 7%;
    width: 100%;
    z-index: 1000;
    color: darkgrey;
    font-family: fangsong, monospace, Arial, SimSun, sans-serif;
    width: 100%;
    text-align: center;
}